<script>
	// make {{titleCase name}} Rock!
	import { MyCounterButton } from '@repo/ui';
</script>

<h1>{{titleCase name}}</h1>
<MyCounterButton />
<p>Visit <a href="https://kit.svelte.dev">kit.svelte.dev</a> to read the documentation</p>
